{% extends 'layout.html' %}
{% block content %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-5">
          <span class="d-block text-uppercase title-font">WHAT IS FMS</span>
          <span class="divider my-4"></span>
          <h2 class="mb-3 mt-4" style="font-size:24px;">
            WE ARE YOUR RELIABLE TEAM THAT THROWS YOUR INCONVENIENCE AWAY
          </h2>
          <p>By using school bus for your children, you'll probably worried about transportation!Whether the school bus is directly locating to school or not or does everything synchronize with parents and owners or something like that!Yoou've been experienced those hurdles.</p>
          <p class="mb-5">We came along for your convenience!Your trustworthy FMS!</p>
          <!-- <p><a href="#" class="btn btn-outline-black">Learn More</a></p> -->
        </div>
        <div class="col-lg-6 d-flex">
          <figure class="img-dotted-bg my-auto">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" alt="Image" class="img-fluid my-auto">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="section mt-5">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-8 text-center">
          <h2 class="mb-4 title-font">Meet Our <strong>Team</strong></h2>
          <p class="mb-5 lead">You can know about our team member and you can contact freely.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/cmk.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Chan Min Kyaw</h3>
              <p>Hello! one of the web-developers of the website! Very satisfied FMS appeared.WE NAILED IT!.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/hhh.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Hnin Htet Htet</h3>
              <p>I've been in dynamic since started thinking about FMS.Welcome all! I'm an energetic web-developer.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/igk.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Ingyin Khin</h3>
              <p>Very content that I' am a part of this vigorous team as a web-developer.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/km.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Khant Hmuu</h3>
              <p>What's Up!!Y'all are satisfied with web design,right? Here is your graphic designer of FMS!!</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/mmk.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Myo Myo Khant</h3>
              <p>Hello everyone! I am a web-developer in FMS.Please long for the next projects of us!Thank You all!!</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="media d-block media-custom text-center mx-auto" style="width:350px">
            <a href="#"><img src="{{url_for('static',filename='images/vj.jpg')}}" alt="Image Placeholder" class="img-fluid" style="width:225px;height: 225px;"></a>
            <div class="media-body mt-3">
              <h3 class="mt-0 text-black">Zayar Min Maung</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minus repudiandae amet.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  <!-- END section -->
{% include "footer.html" %}
{% endblock content%}



