{% extends 'dashboard_layout.html' %}
{% block li %}
<li class="nav-item">
  <a class="nav-link mr-2" style="color:black;">
    <span class="icon icon-plus"></span>
    Add
  </a>
</li> 
<li class="nav-item">
  <a class="nav-link mr-2" style="color:black;">
    <span class="icon icon-note"></span>
    Edit
  </a>
</li> 
<li class="nav-item">
  <a class="nav-link mr-2" style="color:black;">
    <span class="icon icon-minus"></span>
    Remove
  </a>
</li> 
{% endblock li %}
{% block content %}
<nav aria-label="breadcrumb" style="margin-top:-39px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('owners.owner_dash') }}" style="font-size: 20px;
  color: black;">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="font-size: 20px;">Car List</li>
  </ol>
</nav>    
      <!-- hidden box for adding new car -->
      <div class="hideprofiletable">
			    <table>
            <tr style="background:transparent;">
              <td style="border:none;">
                <div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:130px">
                    School
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Sanchaung</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Hlaing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Mayangon</a>                                  
                  </div>
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:130px">
                    Time
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Morning</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Afternoon</a>
                  </div>
                </div>
              </td>
            </tr>            
            <tr>
              <td> 
              <i class="fab fa-modx">&nbsp;&nbsp;&nbsp;</i>Model&nbsp;&nbsp;
              </td>              
              <td>
              <input type="text" name="name" placeholder="eg. Honda Fit" class="inputprofile">
              </td>
            </tr>
            <tr>
              <td> 
              <i class="fas fa-border-style">&nbsp;&nbsp;&nbsp;</i>Type&nbsp;&nbsp;
              </td>              
              <td>
              <input type="text" name="type" placeholder="eg. luxury" class="inputprofile">
            </td>
            </tr>

            <tr>
              <td> 
              <i class="far fa-address-card">&nbsp;&nbsp;&nbsp;</i>Car No.
              <b style="color:red"> *</b>&nbsp;&nbsp;
              </td>              
              <td>
              <input type="text" name="carno" placeholder="eg. AA-1111" class="inputprofile">
              </td>
            </tr>
            <tr>
              <td> 
              <i class="fas fa-users">&nbsp;&nbsp;&nbsp;</i>No. of Passengers&nbsp;&nbsp;
              </td>              
              <td>
              <input type="text" name="nopassenger" placeholder="eg. 12" class="inputprofile">
              </td>
            </tr>          
            <tr>
              <td> 
              <i class="fas fa-palette">&nbsp;&nbsp;&nbsp;</i>Color&nbsp;&nbsp;
              </td>              
              <td>
              <input type="text" name="color" placeholder="eg. Black" class="inputprofile">
              </td>
            </tr>                                                
          </table>    
          <div class="photo p-2 border">
            <input type="file" class="photo-upload">  
          </div>    
          <button class="profileback-car">Back</button>
          <button class="profilesubmit-car">Save</button>
      </div>
      <!-- hidden box for adding new car -->
<!-- list for all register-car -->
<div class="show-all-car">
  <div class="row">
    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- list for all register-car -->
{% endblock content%}