
    <footer class="blog-footer text-center border-top mt-4 p-3">
      <div class="row">          
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="mx-auto p-3 box-footer">      
            <h3 class="mb-5 title-font">Location</h3>      
              <ul class="list-unstyled footer-link">
                <li class="d-block">
                  <span class="text-left d-block" style="font-size:23px;font-weight:bold">Address:</span>
                  <p class="text-left">University of Information Technology, Parami Road, Hlaing Campus, Yangon, Myanmar</p>
                </li>
                <li class="d-block">
                  <span class="text-left d-block" style="font-size:23px;font-weight:bold">Telephone:</span>
                  <p class="text-left">09-1234567</p>
                </li>
                <li class="d-block">
                  <span class="text-left d-block" style="font-size:23px;font-weight:bold">Email:</span>
                  <p class="text-left">fms1235679@gmail.com</p>
                </li>
              </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3 border-right border-left">
          <div class="mx-auto p-3 box-footer">
            <h3 class="mb-5 title-font">About FMS</h3>
            <p class="mb-5">Our intention is to provide convenient and easy ways to control and take care of your child (especially student) using new Technologies</p>
            <ul class="list-group list-group-horizontal mx-auto text-center">
              <a href="#" class="list-group-item mx-auto" style="border:1px solid black;color:black">
                  <span class="fa fa-twitter"></span>
              </a>
              <a href="#" class="list-group-item mx-auto" style="border:1px solid black;color:black">
                  <span class="fa fa-facebook"></span>
              </a>
              <a href="#" class="list-group-item mx-auto" style="border:1px solid black;color:black">
                  <span class="fa fa-linkedin"></span>
              </a>
              <a href="#" class="list-group-item mx-auto" style="border:1px solid black;color:black">
                  <span class="fa fa-instagram"></span>
              </a>
            </ul>              
          </div>            
        </div>          
        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <div class="mx-auto p-3 box-footer">             
            <h3 class="mb-5 title-font">Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li class="text-left mb-3"><a href="" style="color:black">About</a></li>
              <li class="text-left mb-3"><a href="" style="color:black">School Info</a></li>
              <li class="text-left mb-3"><a href="" style="color:black">Feedback</a></li>
              <li class="text-left mb-3"><a href="" style="color:black">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>  
      <hr>     
      <p>Copyright &copy;2020.Bus Management System.All rights reserved.        
      </p>
    </footer>
