{% extends 'dashboard_layout.html' %}
{% block content %}
<div class="show-all-car">
  <div class="row">
    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-4 setcarcov">
      <div class="setcar">
        <div class="carinfocontent">
          <span class="hidecardel"><a href=""><i class="fa fa-times-circle"></i></a></span>
          <span class="hidecaredit"><a href=""><i class="fa fa-edit"></i></a></span>

          <div class="img">
            <img src="{{ url_for('static',filename='images/ferryschool.jpg') }}" style="width: 230px;height: 150px;border-top-left-radius:10px;border-top-right-radius:10px;" data-lity>
          </div> 

          <div class="carinf">    
            <label class="carlab" style="font-size:19px;">
              Car Model
            </label>
            <button class="carlab ahov" style="color: black;">
              <a href="">More</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}