{% extends 'dashboard_layout.html' %} {% block breadcrumb %}
<nav aria-label="breadcrumb" style="margin-top:-39px;">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('owners.owner_dash') }}" style="font-size: 20px;color: black;">Dashboard</a></li>
		<li class="breadcrumb-item active" aria-current="page" style="font-size: 20px;">Salary List</li>
	</ol>
</nav>
{% endblock breadcrumb %} {% block content %}
<div class="salary-info p-4">
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 text-center">
				<h2 class="mb-4 title-font">Salary List of Lorem School</h2>
				<p class="text-muted">Lorem Ipsum Dolar Sit Amet.</p>
			</div>

			<div class="col-12 mt-4">
				<div class="table-responsive salary-content">
					<table class="table table-bordered table-mod m-0" id="table-mod">
						<thead class="thead-dark">
							<tr>
								<th style="border-top-left-radius: 10px !important;">Name</th>
								<th>Fee</th>
								<th>Time</th>
								<th>Status</th>
								<th style="border-top-right-radius: 10px !important;">Updated Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>2Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>3Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>4.4.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>10.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>11.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>20.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>21.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>29.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>30.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
              <tr>
								<td>31.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
							<tr>
								<td>32.Mike Farrow</td>
								<td>20$</td>
								<td>Morning</td>
								<td>Finished</td>
								<td>1.12.2020</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="but-page-change mt-3 p-0 pt-2 pb-2">
          <button id="previous-sal-but" class="btn btn-dark" onclick="previouspage(10)">Previous</button>
					<button id="next-sal-but" class="btn btn-dark" onclick="nextpage(10)">Next</button>          
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock content %}
{% block script %}

<script>
  var row = document.getElementById("table-mod").rows.length;
  const next = document.getElementById("next-sal-but");
  const previous = document.getElementById("previous-sal-but");
  previous.disabled = true;
  var current = 10;
  limit = 0;
  for(var a=1;a<row;a++){
      document.getElementById("table-mod").rows[a].style.display = "none";
  } 
  for(var a=1;a<=10;a++){
      document.getElementById("table-mod").rows[a].style.display = "table-row";
  } 

  function nextpage(ppp){
    limit = current+10
    if (limit > row-1 && limit-row !=9){
      limit = row-1
    }
    next.disabled=false;
    for(var a=1;a<row;a++){
    document.getElementById("table-mod").rows[a].style.display = "none";
    }    
    for(var a=current+1;a<=limit;a++){
     document.getElementById("table-mod").rows[a].style.display = "table-row";
    } 
    current = ppp+current   
    if(limit == row-1){
      next.disabled=true;
    }
    if(current > 10){
      previous.disabled=false;
    }  
  }

  function previouspage(ppp){
      for(var a=1;a<row;a++){
        document.getElementById("table-mod").rows[a].style.display = "none";
      }      
      current = current-ppp
      for(var a=current;a>current-10;a--){
        document.getElementById("table-mod").rows[a].style.display = "table-row";
      } 
      
      if(current-10 == 0){
        previous.disabled=true;
      }   
      if(limit <= row-1){
        next.disabled=false;
      }
  }
</script>

{% endblock script %}