body{
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  outline: none
}

body a{
  outline: none
}

nav .nav-link{
    color: black !important;
    font-family: 'Share Tech Mono', monospace;
    font-size: 23px;
    outline: none
}

.hov-ef{
  border-bottom: 2px solid transparent;
}

.hov-ef:hover{
  display: inline;
  border-bottom: 2px solid #f2d649;  
}

.logo-font{
  font-family: 'Faster One', cursive;
}

.title-font{
  /* font-family: 'Playfair Display SC', serif; */
  font-family: 'Abril Fatface', cursive;
  font-size: 2.7rem;
  font-weight: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.auth-form{
  width: 390px;
}

.box-footer{
  width: 390px;
}

@media (min-width: 576px) {
.auth-form{
  width: 390px;
}
.box-footer{
  width: 390px;
}
}

@media (min-width: 768px) {
.auth-form{
  width: 430px;
}
.box-footer{
  width: 100%;
}
}

@media (min-width: 992px) {
.auth-form{
  width: 480px;
}
.box-footer{
  width: 100%;
}
}

@media (min-width: 1200px) {
.auth-form{
  width: 520px;
}
.box-footer{
  width: 100%;
}
}

@media (min-width: 1500px) {
.box-footer{
  width: 75%;
}
}

.content{
  margin-top: 100px !important;
}


/* feedback */

.block-33 {
  background: #fff;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.block-33 .vcard .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  margin-right: 20px;
}

.block-33 .vcard .image img {
  max-width: 100%;
  border-radius: 50%;
}

.block-33 .vcard .name-text .heading {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

.block-33 .vcard .name-text .meta {
  color: #a6a6a6;
  display: block;
}

.block-33 .text blockquote {
  padding: 0;
  margin-bottom: 0;
  border: none !important;
  font-size: 16px;
}

.block-33 .text blockquote p:last-child {
  margin-bottom: 0;
}

/* feedback */

/* school-portfolio */
.townshiptitle{
  width: 1100px;
  height: 60px;
  background: #222;
  color:yellow;
  margin: 0px auto;
  text-align: center;
  line-height: 60px;
}

.townshiptitle ul li{
    list-style-type: none;
}

.work-thumb {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.work-thumb img {
  border: 10px solid #fff;
}

.work-thumb .work-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin-top: 20px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work-thumb .work-text h2 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.work-thumb .work-text p {
  color: rgba(255, 255, 255, 0.5);
}

.work-thumb:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.work-thumb:hover .work-text {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.work-thumb:hover:before {
  opacity: 1;
  visibility: visible;
}

/* school-portfolio */


/* contact */
#contact-section .contact-address-content h2 {
  margin: 95px 0 35px 0;
}
#contact-section .contact-address-content .left-side ul {
  margin-top: 70px;
}
#contact-section .contact-address-content .left-side ul li{
  position: relative;
  padding-left: 85px;
  margin-bottom: 50px;
}
#contact-section .contact-address-content .left-side ul li h6 {
  font-size: 14px;
  margin-bottom: 8px;
}
#contact-section .contact-address-content .left-side ul li .icon {
  width: 60px;
  height: 60px;
  border-width: 1px;
  position: absolute;
  left:0;
  top:-9px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 30px;
}
#contact-section .contact-address-content .left-side ul li:hover .icon {
  background: #fff;
}
#contact-section .contact-address-content #map {
  width: 100%;
  height: 500px;
}
#contact-section .send-message {
  padding: 0 15px;
}
#contact-section .send-message h2 {
  margin: 50px 0 40px 0;
}
#contact-section .send-message .single-input {
  margin-bottom: 20px;
  height: 50px;
}
#contact-section .send-message .single-input input,
#contact-section .send-message form textarea {
  width: 100%;
  height: 100%;
  border:1px solid #dfdfdf;
  padding: 0 15px;
}
#contact-section .send-message form textarea {
  height: 260px;
  max-width: 100%;
  max-height: 260px;
  margin-bottom: 25px;
  padding: 20px 15px;
}
#contact-section .send-message .single-input input:focus,
#contact-section .send-message form textarea:focus {
  border-color: #424040;
}
#contact-section .send-message form button {
  width: 140px;
  line-height: 40px;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  border-width: 1px;
}
#contact-section .send-message form button:hover {
  background: #fff;
}
/* contact */

/* carousel */
.carousel{
	width:100%;
  height:100%;
	z-index:12;
	overflow:hidden;
}

.carousel-caption{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
  cursor: pointer;
}

.carousel-control-prev,.carousel-control-next{
  z-index: 10;
}
.stroke{
  -webkit-text-stroke: 0.5px black;
}

/* carousel */